<main class="container">
  <h1 class="my-4">New Painting</h1>

  <div class="row">
    <div class="col-md-8 col-lg-6">

     <%= form_with(model: @painting, local: true) do |form| %>
       <% if @painting.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@painting.errors.count, "error") %> prohibited this painting from being saved:</h2>
      <ul>
        <% @painting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
     <%= form.label :remote_image_url %>
    <%= form.text_field :remote_image_url, class: "form-control" %>
  </div>



  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :artist_first_name %>
    <%= form.text_field :artist_first_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :artist_last_name %>
    <%= form.text_field :artist_last_name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
    </div>
  </div>

  <br>

  <div>
    <%= link_to "Back to paintings", paintings_path, class: "btn btn-secondary" %>
  </div>
</main>
